# Compiler files
cache/
out/

remappings.txt
todo.txt

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Line coverage
report/
lcov.info

# Dotenv file
.env

# Misc files
.DS_Store
