[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/royalty-registry-solidity"]
	path = lib/royalty-registry-solidity
	url = https://github.com/manifoldxyz/royalty-registry-solidity
[submodule "lib/libraries-solidity"]
	path = lib/libraries-solidity
	url = https://github.com/manifoldxyz/libraries-solidity
