name: test

on:
    workflow_dispatch:
    push:
        branches: [main]
        paths-ignore:
            - '**.md'
    pull_request:
        branches: [main]
        paths-ignore:
            - '**.md'

env:
    FOUNDRY_PROFILE: ci

jobs:
    check:
        strategy:
            fail-fast: true

        name: Foundry Project
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: recursive

            - name: Install Foundry
              uses: foundry-rs/foundry-toolchain@v1
              with:
                  version: nightly

            - name: Run Forge build
              run: |
                  forge --version
                  forge build --sizes
              id: build

            - name: Run Forge tests
              run: |
                  FOUNDRY_PROFILE=ci forge test -vvv
              id: test
            
            - name: Run Forge coverage
              run: | 
                  forge coverage --report lcov
              id: coverage

            - name: Setup LCOV
              run: echo "Installing lcov"; sudo apt-get install lcov > /dev/null
              
            - name: Clean LCOV
              run: |
                  lcov --remove lcov.info -o lcov.info 'src/mocks/*' 'src/test/*' 'src/testgen-scripts/*' 'src/lib/*' 'script/*'

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3.1.1
              with:
                   token: ${{ secrets.CODECOV_TOKEN }}